/* Ocultar por defecto la sección en pantallas más grandes */
#section-mobile-6-1 {
    display: none;
    background-color: white;
    padding: 0 20px; /* Reducimos el padding lateral */
}

/* Mostrar la sección solo en dispositivos móviles */
@media only screen and (max-width: 768px) {
    #section-mobile-6-1 {
        display: block;
        margin-top: -20px; /* Reducimos aún más el margen superior */
        padding-top: 0; /* Eliminamos el padding superior */
        margin-bottom: 60px; /* Aumentamos el margen inferior para evitar que se pegue la siguiente sección */
    }
}

/* Contenedor principal del carrusel */
#section-mobile-6-1 .mobile-carousel-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    background-color: #ffffff;
    user-select: none;
}

/* Configuración del deslizamiento del carrusel */
#section-mobile-6-1 .mobile-carousel-slide {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    white-space: nowrap;
    transition: transform 0.5s ease;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

/* Estilo para los items del carrusel, aumentando el tamaño de los contenedores */
#section-mobile-6-1 .slide-content {
    min-width: 60%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    padding: 10px;
    height: auto;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    margin-top: 0; /* Eliminamos margen superior */
}

/* Configuración de las imágenes */
#section-mobile-6-1 .slide-content img {
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: contain;
    border-radius: 0px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

/* Estilo especial para el logo final */
#section-mobile-6-1 .slide-content.logo-final {
    background-color: transparent;
    box-shadow: none;
    border: none;
}

#section-mobile-6-1 .slide-content.logo-final img {
    width: 18%;
    height: auto;
    object-fit: contain;
    border: none;
    background-color: transparent;
    box-shadow: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

/* Flechas de navegación */
#section-mobile-6-1 .carousel-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px; /* Reducimos el margen superior de las flechas */
    gap: 30px;
}

#section-mobile-6-1 .nav-arrow {
    cursor: pointer;
    background-color: white;
    color: #3BB0D9;
    width: 35px;
    height: 35px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1.5px solid black;
}

#section-mobile-6-1 .nav-arrow:hover {
    background-color: #f0f0f0;
}
