/* Estilos específicos para la Sección 1 de escritorio */

/* Mostrar solo en escritorio */
@media (min-width: 768px) {
    .desktop-only {
        display: block; /* Asegura que se muestren en pantallas grandes */
    }
    .mobile-only {
        display: none; /* Oculta la versión móvil en pantallas grandes */
    }

    /* Estilos generales para la versión de escritorio */
    body {
        font-family: 'Poppins', sans-serif;
        margin: 0;
        padding: 0;
        background-color: #333;
        color: #fff;
    }

    /* Sección 1: Contenedor principal */
    #section-1 .main-section {
        display: flex;
        justify-content: center;
        height: 100vh;
        width: 100vw;
    }

    /* Contenedor izquierdo de la Sección 1 */
    #section-1 .left-container {
        flex: 0.9;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* Corregimos la ruta de la imagen */
        background-image: url("https://estebancantor.github.io/Experto-en-Ti-Mismo/Assets/img/CieloKOETE.webp");

        background-size: cover;
        background-position: center;
        padding: 20px;
        box-sizing: border-box;
        height: 100%;
    }

    /* Contenedor de la cuenta regresiva */
    #section-1 .countdown-container {
        background-color: rgba(0, 0, 0, 0.7);
        padding: 60px 40px;
        max-width: 480px;
        width: 100%;
        text-align: center;
        border: 3px solid #000;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 450px;
    }

    /* Títulos y párrafos de la Sección 1 */
    #section-1 h2 {
        font-size: 1.9em;
        font-weight: 700;
        color: #ffffff;
        margin-bottom: 20px;
    }

    #section-1 p {
        font-size: 1em;
        color: #ffffff;
        margin-bottom: 15px;
    }

    /* Contenedor de la cuenta regresiva */
    #section-1 .countdown {
        display: grid;
        grid-template-columns: repeat(4, minmax(80px, 1fr));
        justify-content: center;
        margin: 20px 0;
        gap: 10px;
        margin-bottom: 30px;
    }

    /* Elementos de la cuenta regresiva */
    #section-1 .countdown-element {
        background-color: #ffffff;
        color: #000;
        width: 80px;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        padding-top: 5px;
        border-radius: 0px;
    }

    #section-1 .countdown-element span:first-child {
        font-size: 2.5em;
        font-weight: 700;
        margin-bottom: 5px;
    }

    #section-1 .countdown-element span:last-child {
        font-size: 0.7em;
        font-weight: 400;
        margin-top: 5px;
    }

    /* Detalles del evento */
    #section-1 .event-details {
        margin-left: -65px;
        width: auto;
        text-align: left;
        color: #ffffff;
        margin-bottom: 35px;
        padding-top: 20px;
        line-height: 1.6;
        max-width: 500px;
    }

    /* Botones de la Sección 1 */
    #section-1 .buttons {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        margin-top: 10px;
        width: 90%;
    }

    #section-1 .btn {
        padding: 15px 10px;
        font-size: 0.9em;
        font-weight: 600;
        text-decoration: none;
        border-radius: 0px;
        border: none;
        cursor: pointer;
        transition: transform 0.3s ease, background-color 0.3s ease;
        flex: 1;
        text-align: center;
    }

    #section-1 .btn:hover {
        transform: scale(1.05);
    }

    #section-1 .reserve-btn {
        background-color: #3BB0D9;
        color: #ffffff;
    }

    #section-1 .reserve-btn:hover {
        background-color: #18C2B6;
        color: #000000;
    }

    #section-1 .other-dates-btn {
        background-color: #FF8F2B;
        color: #fff;
    }

    #section-1 .other-dates-btn:hover {
        background-color: #F2CB1C;
        color: #000000;
    }

    /* Contenedor derecho de la Sección 1 */
    #section-1 .right-container {
        flex: 1.2;
        background-color: #000000;
        color: #ffffff;
        padding: 20px;
        box-sizing: border-box;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Título del video */
    #section-1 .video-title {
        display: flex;
        text-align: center;
        font-size: 2em;
        font-weight: 700;
        max-width: 750px;
        margin-bottom: 20px;
        justify-content: center;
    }

    /* Descripción del video */
    #section-1 .video-description {
        font-size: 1.2em;
        max-width: 600px;
        padding-top: 0px;
    }

    /* Contenedor del video */
    #section-1 .video-wrapper {
        margin-bottom: 30px;
        padding-top: 20px;
    }
}

/* Estilos para la sección 2 del carrusel, solo visible en escritorio */
@media only screen and (min-width: 769px) {
    #section-2 {
        display: block;
    }

    /* Contenedor principal del carrusel */
    #section-2 .custom-carousel-container {
        position: relative;
        max-width: 100%;
        overflow: hidden;
        background-color: #ffffff;
        padding: 20px;
        user-select: none; /* Evitar selección de texto en todo el carrusel */
    }

    /* Contenedor de las slides */
    #section-2 .custom-carousel-slide {
        display: flex;
        overflow-x: scroll; /* Permitir desplazamiento horizontal */
        scroll-behavior: smooth; /* Desplazamiento suave */
        white-space: nowrap; /* Evitar que las diapositivas se rompan en múltiples líneas */
        transition: transform 0.5s ease;
        user-select: none; /* Evitar selección de contenido */
    }

    /* Espacio extra en la izquierda */
    #section-2 .carousel-extra-space-large {
        min-width: 10%; /* Ajusta el porcentaje según el espacio que necesites */
    }

    /* Espacio extra a la derecha */
    #section-2 .carousel-extra-space-small {
        min-width: 5%;
    }

    /* Slide individual */
    #section-2 .slide-content {
        min-width: 80%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        padding: 10px;
        background-color: #f0f0f0;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Mantén la sombra suave */
        user-select: none; /* Evitar selección de contenido en las diapositivas */
    }

    /* Imagen dentro del slide */
    #section-2 .slide-content img {
        width: 100%;
        height: auto;
        border-radius: 0; /* Elimina el redondeo de las esquinas */
        box-shadow: 0px 4px 8px rgba(181, 171, 171, 0.1); /* Sombra suave */
        user-select: none; /* Evitar selección de imágenes */
    }

    /* Navegación del carrusel */
    #section-2 .carousel-controls {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        gap: 20px;
    }

    /* Flechas de navegación con estilo de fondo blanco, borde negro y flechas azules */
    #section-2 .nav-arrow {
        cursor: pointer;
        background-color: white; /* Fondo blanco */
        color: #3BB0D9; /* Color de las flechas azules */
        width: 40px;
        height: 40px;
        font-size: 20px; /* Tamaño de las flechas */
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%; /* Botones redondos */
        border: 2px solid black; /* Borde negro */
        transition: background-color 0.3s ease, transform 0.3s ease; /* Transiciones suaves */
        user-select: none; /* Evitar selección de botones */
    }

    /* Efecto hover en las flechas */
    #section-2 .nav-arrow:hover {
        background-color: #ffffff; /* Fondo ligeramente gris al hacer hover */
        transform: scale(1.1); /* Aumentar ligeramente el tamaño al hacer hover */
    }

    /* Dots de navegación */
    #section-2 .custom-dots {
        display: flex;
        gap: 10px;
        user-select: none; /* Evitar selección de puntos */
    }

    #section-2 .custom-dot {
        cursor: pointer;
        height: 12px;
        width: 12px;
        background-color: #c19f9f;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
        user-select: none; /* Evitar selección de puntos */
    }

    #section-2 .custom-dot.active {
        background-color: #3BB0D9;
    }
}

/* Ocultar la sección en dispositivos móviles */
@media only screen and (max-width: 768px) {
    #section-2 {
        display: none;
    }
}


/* Encapsulado solo para la sección de escritorio */
@media (min-width: 768px) {
    /* Contenedor principal de la sección de presentación */
    #section-desktop-3 {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: stretch;
        min-height: 100vh;
        width: 100vw;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* Columna izquierda */
    #section-desktop-3 .column-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-basis: 45%;
        text-align: center;
        background-color: #288BD6;
        padding: 40px;
        box-sizing: border-box;
        flex-grow: 1;
    }

    /* Columna derecha */
    #section-desktop-3 .column-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-basis: 55%;
        text-align: center;
        background-color: #000;
        padding: 40px;
        box-sizing: border-box;
        flex-grow: 1;
    }

    /* Imagen circular */
    #section-desktop-3 .circular-image {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 15px;
    }

    /* Título y nombre */
    #section-desktop-3 .title {
        font-size: 2em;
        font-weight: bold;
        margin-bottom: 20px;
        line-height: 1.2;
    }

    /* Estilo para el título de la columna izquierda */
    #section-desktop-3 .title-left {
        color: #000;
    }

    /* Estilo para el título de la columna derecha */
    #section-desktop-3 .title-right {
        color: #288BD6;
    }

    #section-desktop-3 .name {
        font-size: 1.8em;
        font-weight: bold;
        margin-bottom: 5px;
        color: #FFF;
        line-height: 1.2;
    }

    /* Información adicional */
    #section-desktop-3 .additional-info {
        font-size: 1.2em;
        color: #FFF;
        margin-bottom: 30px;
        line-height: 1.4;
    }

    /* Contenedor de detalles (logros) */
    #section-desktop-3 .detail-container {
        display: flex;
        justify-content: space-around;
        align-items: flex-start; /* Alineación superior */
        width: 100%;
        margin-top: 20px;
        flex-wrap: nowrap; /* Evita el salto de línea para mantener los íconos en una sola fila */
    }

    /* Estilo para cada detalle */
    #section-desktop-3 .detail {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; /* Centra verticalmente cada ícono */
        text-align: center;
        flex-basis: 33%; /* Cada ícono ocupa un tercio del ancho */
        padding-top: 0;
        padding: 20px;
        box-sizing: border-box;
    }

    /* Estilo de los íconos dentro de los detalles */
    #section-desktop-3 .detail img {
        width: 60px;
        height: 60px;
        margin-bottom: 10px;
    }

    /* Texto debajo del ícono */
    #section-desktop-3 .detail p {
        font-size: 1em;
        color: #FFF;
        text-align: center;
        margin: 0;
        line-height: 1.5;
    }

    /* Logo de la empresa */
    #section-desktop-3 .company-logo {
        width: 150px;
        height: auto;
        margin-bottom: 15px;
    }

    /* Información adicional derecha */
    #section-desktop-3 .additional-info-right {
        font-size: 1.2em;
        margin: 10px 0;
        color: #fff;
        text-align: center;
        line-height: 1.4;
    }

    /* Estilo para el título "Algunos de nuestros clientes" */
    #section-desktop-3 .client-heading {
        font-size: 1.3em;
        margin: 50px 0 10px;
        color: #fff;
        text-align: center;
    }

    /* Lista de clientes */
    #section-desktop-3 .client-list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 30px;
    }

    /* Estilo de los logos de clientes */
    #section-desktop-3 .client-list img {
        width: 122px;
        height: auto;
        margin: 15px;
        filter: brightness(0) invert(1);
        transition: filter 0.3s ease-in-out;
    }

    /* Hover en los logos de clientes */
    #section-desktop-3 .client-list img:hover {
        filter: brightness(0.5) invert(1);
    }
}

/* Ocultar la sección en dispositivos móviles */
@media (max-width: 767px) {
    #section-desktop-3 {
        display: none;
    }
}

/* Encapsulación del carrusel de testimonios */
#testimonials-carousel-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0; /* Aumentado el padding para darle más altura */
    background-color: #fff; /* Fondo blanco para la sección */
}

#testimonials-carousel-section .carousel-container {
    max-width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra pronunciada */
}

#testimonials-carousel-section .carousel-slide {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    width: 100%;
}

#testimonials-carousel-section .carousel-slide-content {
    min-width: 100%;
    margin: 0 40px; /* Espacio entre testimonios */
    background-color: #fff;
    border-radius: 10px;
    padding: 30px; /* Aumentado el padding para más espacio interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve para cada testimonio */
    scroll-snap-align: center;
    text-align: center;
}

/* Estilo de texto */
#testimonials-carousel-section .carousel-slide-content p,
#testimonials-carousel-section .carousel-slide-content h4 {
    color: #333;
}

#testimonials-carousel-section .carousel-slide-content p {
    font-size: 16px;
}

#testimonials-carousel-section .carousel-slide-content h4 {
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
}

/* Flechas de navegación más sutiles */
#testimonials-carousel-section .carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent; /* Fondo transparente */
    color: #333;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 1;
}

#testimonials-carousel-section .carousel-arrow.left {
    left: -30px;
}

#testimonials-carousel-section .carousel-arrow.right {
    right: -30px;
}

#testimonials-carousel-section .carousel-arrow:hover {
    color: #000;
}

/* Puntos de navegación */
#testimonials-carousel-section .carousel-dots {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#testimonials-carousel-section .carousel-dots .dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
}

#testimonials-carousel-section .carousel-dots .dot.active {
    background-color: #717171;
}

/* Ajuste para pantallas pequeñas */
@media (max-width: 768px) {
    #testimonials-carousel-section .carousel-slide-content {
        min-width: 100%;
    }

    #testimonials-carousel-section .carousel-arrow.left {
        left: 10px;
    }

    #testimonials-carousel-section .carousel-arrow.right {
        right: 10px;
    }
}

/* Ocultar el carrusel en dispositivos móviles */
@media (max-width: 768px) {
    #testimonials-carousel-section {
        display: none;
    }
}

/* Encapsulación de la sección 5 */
#section-5 {
    margin: 0;
    padding: 0;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

/* Fondo del video */
#section-5 .video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: -1;
}

#section-5 .video-background iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
    object-fit: cover;
    border: none;
}

/* Contenido de la sección */
#section-5 .rating-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    color: #fff;
    z-index: 1;
}

/* Texto a la izquierda */
#section-5 .rating-left {
    flex: 1;
    margin-right: 40px;
    max-width: 600px;
}

#section-5 .rating-left h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #ffffff;
}

#section-5 .rating-left .highlight {
    color: #00AEEF;
}

#section-5 .rating-left .blue-btn {
    background-color: #3BB0D9;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    margin-top: 20px;
}

#section-5 .rating-left .blue-btn:hover {
    background-color: #288BD6;
    transform: scale(1.05);
}

/* Contenedor de la barra y texto de la derecha */
#section-5 .rating-right {
    width: 350px;
    height:550px;
    padding: 30px;
    background-color: rgba(24, 23, 23, 0.2);
    box-shadow: 0 6px 8px rgba(188, 179, 179, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 0px;
}

#section-5 .rating-right h3 {
    color: #A9E4F2;
    font-size: 1.7em;
    margin-bottom: 15px;
}

#section-5 .rating-right .rating-description {
    font-size: 1.2em;
    margin-bottom: 30px;
}

#section-5 .circular-progress-container {
    position: relative;
    width: 150px;
    height: 150px;
    margin-bottom: 30px;
}

#section-5 .progress-ring {
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
}

#section-5 .progress-ring__circle {
    stroke-dasharray: 377;
    stroke-dashoffset: 377;
    stroke: #288BD6;
    stroke-width: 10;
    fill: transparent;
    transition: stroke-dashoffset 2s ease-in-out;
}

#section-5 .rating-score-number {
    position: absolute;
    font-size: 2.8em;
    font-weight: bold;
    color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#section-5 .participants-info {
    font-size: 1.2em;
    margin-top: 20px;
}

/* Ocultar la sección en dispositivos móviles */
@media (max-width: 768px) {
    #section-5 {
        display: none;
    }
}


@media only screen and (min-width: 769px) {
    /* Estilos generales para la sección 6 */
    #section-6.program-section {
        display: flex;
        position: relative;
        min-height: 90vh;
        background-color: white;
    }

    /* Columna 1: Imagen vertical completa */
    #section-6 .left-title-column {
        width: 10%;
        background-color: #00AEEF;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        position: sticky;
        top: 0; /* Ajustamos el valor a 0 para eliminar el espacio sobrante */
        height: auto; /* Cambiamos de 100vh a auto para evitar el scroll no deseado */
        padding: 0;
    }

    #section-6 .program-title {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    #section-6 .program-title .vertical-image {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    /* Columna 2: Imagen principal y botón */
    #section-6 .middle-image-column {
        width: 35%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: sticky;
        top: 0;
        height: auto; /* Cambiamos de 100vh a auto para evitar el scroll no deseado */
        padding: 20px;
        user-select: none;
        margin-left:   10%;
    }

    #section-6 .program-image img {
        width: 80%;
        object-fit: contain;
        display: block;
        margin: 0 auto;
        user-select: none;
    }

    #section-6 .cta-button {
        background-color: #FEDD00;
        padding: 0.7rem 1.5rem;
        text-decoration: none;
        font-weight: 600;
        color: black;
        font-size: 0.9rem;
        text-transform: uppercase;
        position: absolute;
        bottom: 22%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
        transition: transform 0.3s ease, background-color 0.3s ease;
        user-select: none;
    }

    #section-6 .cta-button:hover {
        background-color: #FFD700;
        transform: translateX(-50%) scale(1.05);
    }

    /* Columna 3: Carrusel horizontal */
    #section-6 .right-sessions-column {
        width: 60%;
        display: flex;
        align-items: center;
        position: relative;
        background-color: white;
        margin: 0 auto;
    }

    /* Contenedor del carrusel */
    #section-6 .custom-carousel-container {
        position: relative;
        max-width: 100%;
        overflow: hidden;
        background-color: #ffffff;
        padding: 20px;
        margin: 0 5%;
        user-select: none;
    }

    #section-6 .custom-carousel-slide {
        display: flex;
        overflow-x: scroll;
        scroll-behavior: smooth;
        white-space: nowrap;
        transition: transform 0.5s ease;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
    }

    /* Ajustes en el tamaño de los contenedores de las sesiones */
    #section-6 .slide-content {
        min-width: 35%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        padding: 10px;
        height: auto;
        background-color: #ffffff;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 0px;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
    }

    /* Aumentar el tamaño de las imágenes */
    #section-6 .slide-content img {
        width: 100%;
        height: auto;
        max-height: 400px;
        object-fit: contain;
        border-radius: 0px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        user-select: none;
        -webkit-tap-highlight-color: transparent;
    }

    /* Tamaño del logo final (KOETE) y eliminar sombras */
    #section-6 .slide-content.logo-final {
        background-color: transparent; /* Fondo transparente */
        box-shadow: none; /* Eliminamos cualquier sombra */
        border: none; /* Eliminamos cualquier borde */
    }

    #section-6 .slide-content.logo-final img {
        width: 30%; /* Reducimos el tamaño del logo */
        height: auto;
        object-fit: contain;
        border: none; /* Eliminamos cualquier borde */
        background-color: transparent; /* Aseguramos que no tenga fondo */
        box-shadow: none; /* Aseguramos que no tenga sombras */
        user-select: none;
        -webkit-tap-highlight-color: transparent;
    }

    /* Controles de navegación del carrusel */
    #section-6 .carousel-controls {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        gap: 20px;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
    }

    /* Flechas de navegación */
    #section-6 .nav-arrow {
        cursor: pointer;
        background-color: white;
        color: #3BB0D9;
        width: 40px;
        height: 40px;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 2px solid black;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
    }

    /* Efecto hover en las flechas */
    #section-6 .nav-arrow:hover {
        background-color: #e0e0e0;
        transform: scale(1.1);
    }

    /* Puntos de navegación (dots) */
    #section-6 .custom-dots {
        display: flex;
        gap: 10px;
        user-select: none;
    }

    #section-6 .custom-dot {
        cursor: pointer;
        height: 12px;
        width: 12px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
        user-select: none;
    }

    #section-6 .custom-dot.active {
        background-color: #717171;
        user-select: none;
    }
}

/* Ocultar la sección completa en pantallas móviles */
@media only screen and (max-width: 768px) {
    #section-6 {
        display: none;
    }
}

/* Encapsulado específico con # para evitar conflictos */
#section-interactive {
    background-color: #000;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
}

#section-interactive .interactive {
    display: flex;
    width: 100%;
    height: 100%;
}

#section-interactive .slider-left,
#section-interactive .slider-right {
    flex: 1;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

#section-interactive .slider-left {
    position: relative;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#section-interactive .slider-left .image-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 200%; /* Ajustar según el número de imágenes */
    height: 100%;
}

#section-interactive .slider-left img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    flex: 1 0 100%;
}

#section-interactive .slider-right {
    padding: 40px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar verticalmente */
    align-items: flex-start; /* Alinear al inicio horizontalmente */
}

#section-interactive .slider-right h2 {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 60px; /* Aumentamos el margen inferior */
    color: #fff;
    max-width: 80%;
    line-height: 1.2;
}

#section-interactive .slider-right .options-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#section-interactive .slider-right .option {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
}

#section-interactive .slider-right .option-number {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
    margin-right: 10px;
    transition: background-color 0.3s, color 0.3s;
    flex-shrink: 0;
}

#section-interactive .slider-right .option:hover .option-number,
#section-interactive .slider-right .option.active .option-number {
    background-color: #007bff; /* Azul destacado */
    color: #fff;
}

#section-interactive .slider-right .option-text {
    max-width: calc(100% - 60px);
}

#section-interactive .slider-right .option-text h3 {
    font-weight: 500;
    margin: 0;
    margin-bottom: 5px;
    color: #fff;
    transition: color 0.3s;
}

#section-interactive .slider-right .option:hover .option-text h3,
#section-interactive .slider-right .option.active .option-text h3 {
    color: #007bff; /* Azul destacado */
}

#section-interactive .slider-right .option-text p {
    margin: 0;
    color: #fff;
    transition: color 0.3s;
    display: none;
}

#section-interactive .slider-right .option.active .option-text p {
    display: block;
}

#section-interactive .buttons {
    display: flex;
    gap: 10px;
    margin-top: 50px; /* Aumentamos el margen superior */
    align-self: center; /* Centramos horizontalmente */
}

#section-interactive .buttons a {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 180px;
    padding: 15px 15px;
    text-decoration: none;
    border-radius: 0px;
    transition: all 0.3s;
    color: #000;
    background-color: #FEDD00;
}

#section-interactive .buttons a:hover {
    color: #fff;
    background-color: #FFD700;
    transform: scale(1.05);
}

#section-interactive .slider-left .nav-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    color: #000;
    background-color: #fff;
    border: none;
    cursor: pointer;
    z-index: 10;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#section-interactive .slider-left .nav-arrow.prev {
    left: 10px;
}

#section-interactive .slider-left .nav-arrow.next {
    right: 10px;
}

/* Ocultar en pantallas móviles */
@media only screen and (max-width: 768px) {
    #section-interactive {
        display: none;
    }
}

/* Tipografía Poppins */
body {
    font-family: 'Poppins', sans-serif;
}

#buttons-slide-desk {
    background-color: #FFFFFF;
    padding: 50px;
    padding-bottom: 80px; /* Agregamos más espacio en la parte inferior */
    width: 100%;
    display: flex;
    justify-content: center; /* Centramos los botones */
    gap: 20px; /* Espacio entre los botones */
    align-items: center;
    border: 0px solid #000000;
}

#buttons-slide-desk .cta-button {
    padding: 15px 30px;
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.2); /* Borde negro muy sutil */
    cursor: pointer;
    text-transform: uppercase;
    transition: transform 0.3s ease, background-color 0.3s ease;
    font-family: 'Poppins', sans-serif; /* Usamos la fuente Poppins */
    display: flex;
    align-items: center;
    gap: 10px; /* Espacio entre el icono y el texto */
}

/* Botón Izquierda */
#buttons-slide-desk .cta-button-left {
    background-color: #84B6CA; /* Color inicial */
    color: white;
}

#buttons-slide-desk .cta-button-left:hover {
    background-color: #288BD6; /* Color hover */
    transform: scale(1.05);
}

/* Botón Derecha con el ícono de WhatsApp */
#buttons-slide-desk .cta-button-right {
    background-color: #FFB100; /* Color inicial */
    color: white;
}

#buttons-slide-desk .cta-button-right i {
    font-size: 1.5em; /* Tamaño del ícono de WhatsApp */
}

#buttons-slide-desk .cta-button-right:hover {
    background-color: #F2F12C; /* Color hover */
    transform: scale(1.05);
}

/* Ocultar en móviles */
@media (max-width: 768px) {
    #buttons-slide-desk {
        display: none;
    }
}
