/* Encapsulación del carrusel de testimonios */
#testimonials-carousel-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0; /* Aumentado el padding para darle más altura */
    background-color: #fff; /* Fondo blanco para la sección */
}

#testimonials-carousel-section .carousel-container {
    max-width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra pronunciada */
}

#testimonials-carousel-section .carousel-slide {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    width: 100%;
}

#testimonials-carousel-section .carousel-slide-content {
    min-width: 100%;
    margin: 0 40px; /* Espacio entre testimonios */
    background-color: #fff;
    border-radius: 10px;
    padding: 30px; /* Aumentado el padding para más espacio interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve para cada testimonio */
    scroll-snap-align: center;
    text-align: center;
}

/* Estilo de texto */
#testimonials-carousel-section .carousel-slide-content p,
#testimonials-carousel-section .carousel-slide-content h4 {
    color: #333;
}

#testimonials-carousel-section .carousel-slide-content p {
    font-size: 16px;
}

#testimonials-carousel-section .carousel-slide-content h4 {
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
}

/* Flechas de navegación más sutiles */
#testimonials-carousel-section .carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent; /* Fondo transparente */
    color: #333;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 1;
}

#testimonials-carousel-section .carousel-arrow.left {
    left: -30px;
}

#testimonials-carousel-section .carousel-arrow.right {
    right: -30px;
}

#testimonials-carousel-section .carousel-arrow:hover {
    color: #000;
}

/* Puntos de navegación */
#testimonials-carousel-section .carousel-dots {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#testimonials-carousel-section .carousel-dots .dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
}

#testimonials-carousel-section .carousel-dots .dot.active {
    background-color: #717171;
}

/* Ajuste para pantallas pequeñas */
@media (max-width: 768px) {
    #testimonials-carousel-section .carousel-slide-content {
        min-width: 100%;
    }

    #testimonials-carousel-section .carousel-arrow.left {
        left: 10px;
    }

    #testimonials-carousel-section .carousel-arrow.right {
        right: 10px;
    }
}

/* Ocultar el carrusel en dispositivos móviles */
@media (max-width: 768px) {
    #testimonials-carousel-section {
        display: none;
    }
}
